.header-container{
    width: 100%;
    height: 400px;
    background-color: aqua;
}

  .publicidad h3 {
    font-family: "Monserrat", serif;
    color: #025157;
    font-size: 35px;
  }
  
  .publicidad > p {
    font-size: 16px;
    color: #343434;
  }
  
  .publicidad > form {
    display: flex;
  }
  
  .publicidad > form p {
    color: #025157;
    margin-right: 18px;
  }

  button{
    height: 40px;
    border-radius: 5px;
    background-color: #025157;
    color:white;
    box-shadow: white;

  }

  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }

